{% extends "base_generic.html" %}

{% block content %}

<div class="container">
	<h1>Задачи</h1>
	<h4 style="margin-top:20px;">Прогресс</h4>
	<div class="stats" style="max-width: 370px;">
		
	
		{% for stat in user_stats %}
			<div class="row" style="margin-top:20px;">
				<div class="col-9">
					{{stat.category}}
				</div>
				<div class="col-3 text-end">
					{{stat.success}}/{{stat.all}} 
				</div>
				 

			</div>
			<div class="progress">
			  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{stat.percent}}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		{% endfor %}
		<script type="text/javascript">
			document.querySelectorAll(".progress-bar").forEach((element) => {
				element.style.width = element.getAttribute("aria-valuenow")+"%"
			})
		</script>
	</div>

	<h4 style="margin-top:20px;">Решено</h4>
	{% for cat_name, tasks in user_success.items %}
	<div class="row" style="margin-top:20px;">
		<h6>{{cat_name}}</h6>
		<hr style="margin:10px;">
		{% for task in tasks %}
		<div class="col-11">
			{{ task.task.name}}
		</div>
		<div class="col-1 text-center"> 
			<i class="bi bi-check-circle-fill text-success" style="font-size: 25px;position: relative;top: -7px;"></i>
		</div>
		<hr style="margin:10px;">
		{% endfor %}
	</div>
	{% endfor %}

	<h4 style="margin-top:20px;">Не решено</h4>
	{% for cat_name, tasks in user_not_success.items %}
	<div class="row" style="margin-top:20px;">
		<h6>{{cat_name}}</h6>
		<hr style="margin:10px;">

		{% for task in tasks %}
		<div class="col-11">
			{{ task.name}}
		</div>
		<div class="col-1 text-center"> 
			<i class="bi bi-x-circle-fill text-danger" style="font-size: 25px;position: relative;top: -7px;"></i>
		</div>
		<hr style="margin:10px;">
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}